body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1em;
}

#main-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

header {
    height: 100px;
}


header h1 {
    font-size: 2em;
}

header p {
    
}

nav {
    float: left;
    width: 20%;
}

#content {
    float: right;
    width: 80%;
}

footer {
    clear: both;
}