/* Vaedelunds Gallery CSS */
body {
    width: 100%;
    font-size: 100%;
    font-family: "Over the Rainbow", cursive;
    background-color: rgba(239, 236, 202, 1);
}

.photo-gallery {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1.2em;
}

.photo-gallery h1 {
    font-size: 2em;
}

.photo-gallery h2 {
    font-size: 1.5em;
}

main {
    margin: 40px 0;
}

a.photo, .photo img {
    position: relative;
    width: 200px;
}

a.photo {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    color: black;
}

a.photo:after {
    content: attr(title);
}

a.small, .small img {
    width: 100px;
}

a.small {
    padding: 5px;
    font-size: 80%;
}

a.photo {
    z-index: 2;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
}

a.photo:nth-child(3n+1) { /* each 3d, starting at 1 */
    z-index: 3;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

a.photo:nth-child(4n+2) { /* each 4th, starting at 2 */
    z-index: 4;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}

a.photo:hover {
    z-index: 99;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

a.photo:hover, .photo:hover img {
    width: 300px;
}