/* Vaedelunds Gallery CSS */
body {
    width: 100%;
    font-size: 100%;
    font-family: "Over the Rainbow", cursive;
    background-color: rgba(239, 236, 202, 1);
}

.photo-gallery {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1.2em;
}

.photo-gallery h1 {
    font-size: 2em;
}

.photo-gallery h2 {
    font-size: 1.5em;
}

main {
    margin: 40px 0;
}

.photo img, a.photo {
    width: 200px;
}

a.photo {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    color: black;
}

a.photo:after {
    content: attr(title);
}

a.small, .small img {
    width: 100px;
}

a.small {
    padding: 5px;
    font-size: 80%;
}

a.photo:nth-child(3n+1) { /* each 3d, starting at 1 */
    background-color: red;
}

a.photo:nth-child(4n+2) { /* each 4th, starting at 2 */
    background-color: green;
}
